{% extends 'base.html.twig' %}
{% block header %}  {% endblock %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h1>Mot de passe perdu</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <p>Veuillez renseigner votre adresse e-mail afin de recevoir votre nouveau mot de passe.</p>
        <button class="btn btn-primary">Récupérer</button>
    {{ form_end(resetForm) }}
{% endblock %}
