{% extends 'base.html.twig' %}

{% block title %}
    Gérer les villes
{% endblock %}

{% block body %}
    <h2>Gérer les villes</h2>

    <div><img class="simulation" src="{{ asset("img/villes.png") }}" alt="Sortir.com" title="Villes"></div>

{% endblock %}
