{% extends 'base.html.twig' %}

{% block title %}
    Gérer les campus
{% endblock %}

{% block body %}

    <h2>Gérer les campus</h2>

    <div><img class="simulation" src="{{ asset("img/campus.png") }}" alt="Sortir.com" title="Campus"></div>

{% endblock %}