<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    </head>
    <body>
        <div class="container">
            <header>
                <h1>Sortir.com</h1>
                {% include('inc/nav.html.twig') %}
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>

            </footer>
        </div>
    </body>
</html>
