<nav>
    <ul>
        <li><a href="" title="Ville">Ville</a></li>
        <li><a href="" title="Campus">Campus</a></li>
        <li><a href="" title="Accueil">Accueil</a></li>
        <li><a href="" title="Profil">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="Déconnection">Se déconnecter</a></li>
    </ul>

</nav>