<nav>
    <ul>

        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('details', { 'id': app.user.id } ) }}" title="Profil">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="Déconnection">Se déconnecter</a></li>
    </ul>

</nav>